
html {
  height: 100%;
}

html, body {
  color: #fff;
  font-family: roboto, helvetica, arial, san-serif;
  font-size: 18px;
}
body {
  height: 100%;
  text-align: center;

  background: #5200FF url("/img/bg.jpg");
  border: 18px solid #5200FF;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;


  > * {
    max-width: 40vw;
    min-width: 15rem;
  }

  img {
    margin-bottom: 1.5rem;
  }

}

footer {
position: absolute;
bottom: 0;
font-size: .7rem;
  span {
    opacity: .8;
  }
}

h1,h2,h3,h4 {
      font-family: 'Russo One', sans-serif;
}
